.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node ellipse {
  stroke: #0d2144;
  stroke-width: 2px;
}

.node ellipse:hover {
  /* stroke: #8f92fb; */
  stroke-width: 4px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

body {
  background-color: #628e7d;
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #81a294 1px, transparent 1px), linear-gradient(to bottom, #81a294 1px, transparent 1px);
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}
