.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node ellipse {
  stroke: #0d2144;
  stroke-width: 2px;
}

.node ellipse:hover {
  /* stroke: #8f92fb; */
  /* stroke-width: 4px; */
}

.parent-node ellipse:hover {
  stroke-width: 4px;
}

.node text {
  fill-opacity: 1;
  stroke: transparent;
  fill: #888;
  font-size: 16px;
  font-weight: normal;
  font-family: "Lato","Merriweather";
}

.node text:hover {
  fill: #6ba;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

body {
  /* background-color: #628e7d; */
  background-color: #222;
  color: #cfcecc;
  font-size: 16px;
  font-family: "Lato","Merriweather";
  /* background-size: 20px 20px; */
  /* background-image: linear-gradient(to bottom, #444, #445, #); */
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  line-height: 2em;
  /* padding: 20px; */
  /* font-size: 18px; */
}

a:hover {
  color: #6ba;
}
